.quasar
.DS_Store
.thumbs.db
node_modules
/client/dist
/client/src-cordova/node_modules
/client/src-cordova/platforms
/client/src-cordova/plugins
/client/src-cordova/www
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

*pyc
__pycache__
